* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.playerTurn {
  position: absolute;
  text-align: center;
  left: 46%;
  right: 50%;
  top: 80%;
  width: 10rem;
}
.Table {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translate(-50%);
  width: 650px;
  height: 670px;
  background: rgb(50, 90, 211);
  border: 1px solid black;
  padding: 1.5rem;
}
.tableCell {
  width: 100px;
  height: 100px;
  background: whitesmoke;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
}
h1 {
  text-align: center;
  left: 50%;
  right: 50%;
}

.reset {
  position: absolute;
  text-align: center;
  left: 48%;
  right: 50%;
  border: 1px solid black;
  width: 4rem;
}
